$font-size: 16;
$white: rgb(255, 255, 255);
$color-ec: rgb(236, 236, 236);
@function switchRem($unit) {
  @return $unit/$font-size+rem;
}

.pannel {
  background: $white;
  .pannel-header {
    line-height: switchRem(20);
    //height: switchRem(50);
    padding: switchRem(15) switchRem(14);
    border-bottom: 1px solid $color-ec;
    font-size: 16px;
  }
  .pannel-body,{
    padding: switchRem(10) switchRem(14) 0;
    line-height: switchRem(20);
    font-size: 14px;
  }
  .list-group {
    padding: switchRem(10) 0;
    margin: 0;
    .list-group-item {
      border: none;
      margin: 0;
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      padding: switchRem(10) switchRem(14);
      white-space: normal;

      span{
        white-space: normal;
        word-break: break-all;
      }
      span:first-child{
        min-width: switchRem(80);
      }
      span:last-child{
        text-align: right;
      }
    }
  }
  .pannel-footer{
    padding: 0 switchRem(14) switchRem(15);
    font-size: 14px;
  }
}