$font-size: 16;
@function switchRem($unit) {
    @return $unit/$font-size+rem;
}
.virtual-drop-down{
    width: 100%;
    .drop-up{
        visibility: hidden;
    }
}
.can-edit{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .drop-title{
        display: block;
        /*height: switchRem(40);
        line-height: switchRem(40);*/
        text-align: right;
        color: #818181;
        border: none;
        &:placeholder{
            color: #3d3d3d;
        }
        &:disabled{
            background-color: #fff;
            border: none;
        }
    }
    .icon-right{
        display: block;
        .icon-right{
            fill: #818181;
            width: 1.25rem;
            height: 2rem;
        }
    }
}

.virtual-drop-up .drop-up{
    visibility: visible;
}
.drop-container{
    width: 80%;
    max-height:80%;
    margin: 30% auto;
    background: #fff;
    border-radius: 4px;
    li{
        font-size: 15px;
        height: switchRem(35);
        line-height: switchRem(35);
        text-align: center;
        vertical-align: middle;
        color: #4a4a4a;
        border-bottom: 1px solid #ececec;
    }
    .select{
        background-color: #ececec;
        color:#eb661a;
    }
}
