$font-size: 16;
@function switchRem($unit) {
    @return $unit/$font-size+rem;
}

.contait-search{
	width: 100%;
	display: flex;
	//justify-content: space-around;
	//border: 1px solid #818181;
	box-sizing: border-box;
	align-items: center;
	padding: switchRem(8) 5% switchRem(8) 5%;
	input{
		width: 85%;
		height: switchRem(30);
		line-height: switchRem(30);
		box-sizing: border-box;
		vertical-align: middle;
		text-align: center;
		background-color: #fff;
		border: 1px solid #e4e4e4;
		border-right:none;
		border-radius:4px 0 0 4px;
		padding-left: 0.75rem;
		font-size:15px;
		color: #3d3d3d;
		letter-spacing:0.44px;
		&:placeholder{
			color:#818181;
		}
	}
}
.btn-search{
	width:13%;
	height: switchRem(30);
	box-sizing: border-box;
	border:none;
	border: 1px solid #e4e4e4;
	/*background-color:#eb661a;*/
	text-align:center;
	vertical-align: middle;
	border-radius: 0 4px 4px 0;
	position: relative;
}
.icon-serach{
	width: 1.5rem;
	height: 1.625rem;
	/*margin-right: 0.5rem;*/
	/*border: 1px solid #818181;
	border-left-width: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;*/
	.icon-serach{
		border-width: 0;
		fill: #4a9ff2;
		width: 2.5rem;
		height: 2.875rem;
		position: absolute;
		left: 4%;
		top: -28%;
	}
	//display: inline-block;
}
