$font-size: 16;
@function switchRem($unit) {
    @return $unit/$font-size+rem;
}
.service-list{
    width: 100%;
    background: #fff;
    border: 1px solid #ececec;
    margin-top: switchRem(8);
    .list-row{
    	width: 100%;
	    border-bottom: 1px solid #ececec;
	    box-sizing: border-box;
	    padding: switchRem(10) switchRem(19);
	    display: flex;
	    justify-content: space-between;
    }
    .list-new{
			color: #f30000;
		}
	
	.list-content{
		flex-direction: column;
	    justify-content: center;
	    padding: 10px 19px;
	}
	.list-name{
		font-size: 12px;
		color: #9b9b9b;
	}
}