@charset "utf-8";
$baseColor:rgb(74, 159, 242);   //整体风格 的蓝色
$white:white;       //白色
$bggray:rgb(226,226,225); //灰色
/**
 * create by allroad88888888@vip.qq.com
 */

.table-href{
	color:$baseColor;
}

/* .btn-del-svg
} */
.btn-svg{
	padding:0.25rem 0.25rem;
	min-width:1rem;
	min-height:1rem;
	background-color:$white;
	vertical-align: middle;
	display:flex!important;
	border-width:0!important;
}
.table_icon_del{
	fill:$baseColor;
	width:1rem;
	height:1rem;
}



/* ------------------------------------------------------------------loading start------------------------------------------------------ */
@keyframes rv360
{
	0%    {transform:rotate(0deg);}
	12.5% {transform:rotate(45deg);}
	25%   {transform:rotate(90deg);}
	37.5% {transform:rotate(135deg);}
    50%   {transform:rotate(180deg);}
    62.5% {transform:rotate(225deg);}
	75%   {transform:rotate(270deg);}
	87.5% {transform:rotate(315deg);}
	100%  {transform:rotate(360deg);}
	/* to{
		transform:rotate(1turn);
	} */
	/*100%  {transform:rotate(360deg);}*/
}
.contair-load{
	display: flex;
	justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .load-logo{
	    width: 15px;
	    height: 15px;
	    //position: absolute;
	    fill:$baseColor;
	    left: -28px;
	    top: 0px;
	    position: relative;
    }
	.small-quan{
		border-radius: 50%;
		margin: 5px 5px;
	}
	.load{
		position: relative;
		animation: rv360 1s linear infinite;
		width: 40px;
	    height: 40px;
	    margin-left: 12px;
	}
	.load-one{
		display: flex;
		flex-shrink: 0;
		width: 40px;
	    height: 40px;
	    position: absolute;
	    // top: 0;
    	// left: 12px;
	   // margin: 10px 10px;
	}
	.rt-1{
		transform:rotate(45deg);
		.small-quan{
			width: 9px;
			height: 9px;
			background-color: rgba(74, 159, 242,1);
		}
	}
	.rt-2{
		transform:rotate(90deg);
		.small-quan{
			width: 4px;
			height: 4px;
			background-color: rgba(226,226,225,0.7);
		}
	}
	.rt-3{
		transform:rotate(135deg);
		.small-quan{
			width: 5px;
			height: 5px;
			background-color: rgba(226,226,225,0.8);
		}
	}
	.rt-4{
		transform:rotate(180deg);
		.small-quan{
			width: 5px;
			height: 5px;
			background-color: rgba(74, 159, 242,0.16);
		}
	}
	.rt-5{
		transform:rotate(225deg);
		.small-quan{
			width: 6px;
			height: 6px;
			background-color: rgba(74, 159, 242,0.32);
		}
	}
	.rt-6{
		transform:rotate(270deg);
		.small-quan{
			width: 7px;
			height: 7px;
			background-color: rgba(74, 159, 242,0.48);
		}
	}
	.rt-7{
		transform:rotate(315deg);
		.small-quan{
			width: 7px;
			height: 7px;
			background-color: rgba(74, 159, 242,0.6);
		}
	}
	.rt-8{
		transform:rotate(360deg);
		.small-quan{
			width: 8px;
			height: 8px;
			background-color: rgba(74, 159, 242,0.8);
		}
	}

}


/* ------------------------------------------------------------------loading  end------------------------------------------------------ */