$font-size: 16;
@function switchRem($unit) {
    @return $unit/$font-size+rem;
}
.info-one{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: switchRem(48);
}

.info-one-header{
	max-width: 50%;
	display: flex;
	align-items: center;
    justify-content: center;
	/*padding: switchRem(10) 0;*/
	label{
		display: inline-block;
		color: #3d3d3d;
		font-size: 16px;
		text-align: left;
	}
	.star{
		display: block;
		color: red;
		font-size: 15px;
		vertical-align: top;
		margin-left: switchRem(3);
		align-items: center;
    	justify-content: center;
	}
	.star-none{
		display: none;
	}
}
.info-one-footer{
	flex: 1;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	.info-one-footer-font{
		display: block;
		width: 100%;
		color: #3d3d3d;
		font-size: 16px;
		text-align: right;
	}
}
