$font-size: 16;
@function switchRem($unit) {
    @return $unit/$font-size+rem;
}
/*.contract-one{
	width: 100%;
	height: 3rem;
	margin-bottom: 0.5rem;
	background-color: red;
	&:last-child{
		margin-bottom: 0;
	}
}*/

.container-list{
	width: 100%;
	background: #fff;
	margin-bottom: switchRem(8);

	a{
		display: block;
	}
}
.list-top{
	width: 100%;
	border-bottom: 1px solid #ececec;
	box-sizing: border-box;
	padding: switchRem(10) switchRem(14);
	display: flex;
	justify-content: space-between;
	p{
		color: #4a4a4a;
		font-size: 15px;
		.list-new{
			color: #f30000;
		}
	}
	.mar-right{
		margin-right: switchRem(16);
	}
}
.list-content{
	width: 100%;
	box-sizing: border-box;
	background: #fafafa;
	display: flex;
	flex-shrink: 0;
	position: relative;
	
	p{
		font-size:14px;
		color:#4a4a4a;
		text-align:left;
		&:nth-of-type(1){
			border-right: 1px solid #fff;
		}
	}
	.list-content-left{
		width: 100%;
		box-sizing: border-box;
		padding: 0 switchRem(14);
		background-color: #fff;
		z-index: 2;
		p{
			margin: switchRem(14) 0;
		}
		.list-address-nowrap{
			width: 100%;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
	.list-content-position{
		position: absolute;
		right: 0;
		top: 0;
		display: flex;
		height: 100%;
		z-index: 1;
		a{
			display: flex;
			width: 100%;
			height: 100%;
			z-index: 1;
			position: absolute;
		}
		span{
			z-index: 0;
		}
		p {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			width: switchRem(60);
			height: 100%;
			background: #fca312;
			position: relative;
			&:nth-of-type(2){
				height: 100% !important;
			}
		}
		.icon-disabled{
			background: #e4e4e4;
		}
	}
	.icon-telephone{
		/*width: 1.5rem;
		height: 1.625rem;*/
		display: block;
		.icon-telephone{
			border-width: 0;
			fill: #fff;
			width: 2.875rem;
			height: 2.875rem;
			/*position: absolute;
			left: 0%;
			top: -35%;*/
		}
	}
}